*{
  color: #8A909D;
  
}
body{
  background: url(./images/Vector.png) top right, url(./images/Vector2.png) bottom left;
  background-repeat: no-repeat;
  height: 80vh;

}
.fsthd{
  font-weight: 18px;
  font-weight: 600;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}